*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
*.xml
vendor
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__
# Ignore from local build
settings.ini
Gemfile.lock
images/copied_from_nb/
_posts/2022-08-21-FirstJupyterNB.md
_posts/2022-08-21-My-First-Post!.md
_posts/2022-08-22-Bashcheck.md
_posts/2022-08-23-2nd-Post-(Notes).md
_posts/2022-08-28-Quizzzz.md
_posts/2022-09-03-Attempt-at-Theme-Change.md
_posts/2022-09-04-Lists-Dictionaries-Iterations.md
_posts/2022-09-11-AppCode-Quiz.md
_posts/2022-09-12-Createtask-ideas.md
_posts/2022-09-17-Collegeboard-Collaboration.md
_posts/2022-09-18-TedTalk.md
_posts/2022-09-19-Docker-Setup.md
_posts/2022-09-24-JavascriptNotebook.md
_posts/2022-09-25-ScrumTeamPlans.md
_posts/2022-10-03-PBL-python_rapidapi.md
_posts/2022-10-06-1.4-Notes.md
_posts/2022-10-08-FxingErrors.md
